.no-select {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* IE 10+ */
  user-select: none;         /* Standard */
}

body.dark {
  margin: 0;
  padding: 0;
  background-color: #070E0F;
  color: #4277B5;
}

body.light {
  margin: 0;
  padding: 0;
  background-color: #F5F1E6;
  color: #3B6B48;
}

/* Flashcard kontener */
.flashcard-inner {
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

/* Przód fiszki */
body.dark .flashcard-front {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: #25282C;
  color: #4277B5;
  border: 1px #79DAFF;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body.light .flashcard-front {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: #D8C8B4;
  color: #3B6B48;
  border: 1px #A67B5B;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Tył fiszki */
body.dark .flashcard-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: #25282C;
  color: #4277B5;
  border: 1px #79DAFF;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body.light .flashcard-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: #D8C8B4;
  color: #3B6B48;
  border: 1px #A67B5B;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}








